body {
  color: orchid;
  background-color: rgb(78, 3, 3);
}

.important {
  font-weight: bolder;
}

.initialCost {
  display: inline;
}

.costGuide {
  float: right;
}
#size {
  font-weight: bolder;
  width: 150px;
  height: 40px;
  padding: 5px;
}

.frame {
  width: 300px;
  height: 400px;
  float: right;
  border: 10px blueviolet;
  border-style: outset;
  margin: 45px;
  background-color: rgb(27, 4, 90);
  padding: 7px;
}