body {
  color: orchid;
  background-color: rgb(78, 3, 3);
}

#h1Shadow {
  text-shadow: 10px 4px 4px #110f0f, 6px 8px 8px rgb(185, 9, 9);
}

.important {
  font-weight: bolder;
}

.initialCost {
  display: inline;
}

.costGuide {
  float: right;
}
#size {
  font-weight: bolder;
  width: 150px;
  height: 40px;
  padding: 5px;
}

.frame {
  width: 300px;
  height: 400px;
  float: right;
  border: 10px blueviolet;
  border-style: outset;
  margin: 45px;
  background-color: rgb(27, 4, 90);
  padding: 7px;
  box-shadow: 10px 5px 5px rgb(138, 3, 3);
}

.cheese{
  color: blanchedalmond;
}

.meat{
  color: rgb(161, 132, 98);
}

.veggies {
  color: rgb(104, 160, 104);
}

#subOrder {
  font-weight: bolder;
  color: rgb(39, 6, 38);
  background-color: darkorange;
}